.container {
   min-height: 100vh;
   display: flex;
   flex-flow: column;
}

.friendsBtn {
   margin: 10px 0 0 5%;
   width: 50px;
   aspect-ratio: 1 / 1;
   background: none;
   border-style: none;
   cursor: pointer;
   border: 1px solid;
   font-size: 1.5rem;
   display: none;
   border-radius: 100px;
   color: var(--clr-blue);
}

.mainWrapper {
   display: flex;
   margin: 15px auto;
   width: 95vw;
   flex: 1 0 auto;
}

@media only screen and (max-width: 700px) {
   .friendsBtn {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
